<div class="container-fluid mid-content text-center">
  <div class="container p-t-50 p-b-50">
    <div class="content-sec clearfix">
      <h1 class="page-title">Songwriters</h1>
      <p class="desc">application questions</p>
<div class="form-sec">
  <form>
    <div class="form-group">
        <span class="question">1. Do you primarily write alone or with co-writer?</span>
      <select>
        <option>Choose</option>
        <option>Alone</option>
        <option>Co-writer</option>
      </select>
     <span class="question m-t-10">2. What does success look like for you?</span>
     <textarea placeholder="Describe"></textarea>
     <span class="question">3. What are some of your goal?</span>
     <textarea placeholder="What are your goals"></textarea>
    </div>
  </form>
</div>
<div class="bottom-control">
    <button class="btn gray m-r-20" mdbBtn type="button" gradient="gray" size="lg" mdbWavesEffect>Skip</button>
    <button class="btn next" mdbBtn type="button" gradient="aqua" size="lg" mdbWavesEffect>Next</button>
  </div>
    </div>
    </div>
    </div>
