<div class="gradient ">
    <div class="signup-form col-md-offset-4 col-sm-8 col-sm-offset-2 col-md-4">
        <h2>Forget Password</h2>
        <hr>
        <div id="signup-form" class="col-md-10 col-sm-10 col-sm-offset-1 col-md-offset-1">
        	<form [formGroup]="forget_password" (ngSubmit)="resetpassword(forget_password.value)">
		        <input type="email" formControlName="email" placeholder="Email address" class="topMargin">
		        <div class="row">
		        </div>
		        <input type="submit" class="btn btn-lg topMargin shadow" value="send new password" >
		    </form>         
			<div style="text-align:center;margin-bottom: -16px;">
            	<a routerLink="/login" class="loginstyle">Login</a>
          	</div>​ 
        </div>
    </div>
</div>

