<div class="container-fluid mid-content text-center">
  <div class="container p-t-50 p-b-50">
    <div class="content-sec clearfix">
      <h1 class="page-title">Concert goers</h1>
      <p class="desc">application questions</p>
<div class="form-sec">
  <form>
    <div class="form-group">
        <span class="question">1. What was the last concert you attended?</span>
     <input placeholder="Snoop Dog" type="text">
      <span class="question m-t-10">2. Please uplod the ticket stub or copy of receipts</span>
     <div class="drop-zone">
      <h5>Drag & Drop File Here...<span>or</span></h5>
      <input class="drop-file" type="file">
      <button class="drop-btn">Browse the file</button>
      </div>
    </div>
  </form>
</div>
<div class="bottom-control">
    <button class="btn gray m-r-20" mdbBtn type="button" gradient="gray" size="lg" mdbWavesEffect>Skip</button>
    <button class="btn next" mdbBtn type="button" gradient="aqua" size="lg" mdbWavesEffect>Next</button>
  </div>
    </div>
    </div>
    </div>