<div class="container-fluid mid-content text-center">
    <div class="container p-t-50 p-b-50">
      <div class="content-sec clearfix">
        <h1 class="page-title">Influencers</h1>
        <p class="desc">application questions</p>
  <div class="form-sec">
    <form>
      <div class="form-group">
          <span class="question">1. How do you primarlly reach those who you influence?</span>
        <select>
          <option>Duration</option>
          <option>1 year</option>
          <option>2 years</option>
          <option>3 years</option>
        </select>
       <span class="question m-t-10">3. Please share any relevant social media links or names of individuals you have relationship with.</span>
       <textarea placeholder="Insert Link"></textarea>
      </div>
    </form>
  </div>
  <div class="bottom-control">
      <button class="btn gray m-r-20" mdbBtn type="button" gradient="gray" size="lg" mdbWavesEffect>Skip</button>
      <button class="btn next" mdbBtn type="button" gradient="aqua" size="lg" mdbWavesEffect>Next</button>
    </div>
      </div>
      </div>
      </div>