<div class="container-fluid mid-content text-center">
    <div class="container p-t-50 p-b-50">
      <div class="content-sec clearfix">
        <h1 class="page-title">Music Producer</h1>
        <p class="desc">application questions</p>
  <div class="form-sec">
    <form>
      <div class="form-group">
          <span class="question">1. How long have you been producing?</span>
        <select>
          <option>Duration</option>
          <option>1 year</option>
          <option>2 years</option>
          <option>3 years</option>
        </select>
        <span class="question m-t-10">2. What is your primary DAW?</span>
        <select>
            <option>Choose</option>
            <option>10000</option>
            <option>20000</option>
            <option>30000</option>
          </select>
        <span class="question m-t-10">3. do you have production credits?</span>
       <input placeholder="List your production credits and bio" type="text">
      </div>
    </form>
  </div>
  <div class="bottom-control">
      <button class="btn gray m-r-20" mdbBtn type="button" gradient="gray" size="lg" mdbWavesEffect>Skip</button>
      <button class="btn next" mdbBtn type="button" gradient="aqua" size="lg" mdbWavesEffect>Next</button>
    </div>
      </div>
      </div>
      </div>