
<div>
<div class="row padding3">
   <div class="col-lg-3 col-md-3 col-sm-2 text-center hidden-xs">
      <img src="/assets/Logo.png" class="imgwdt"/>
   </div>
   <div class="col-lg-5 col-md-5 col-sm-7 text-center col-xs-12 hidden-xs">
     <div class="row nopadding">
        <div class="col-lg-2 col-md-2 col-sm-2  col-xs-2 text-center col-sm-offset-1  "><label>Company</label></div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center "><label>Creators</label></div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center "><label>Listeners</label></div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center "><label>Contact</label></div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center "><label>Support</label></div>
     </div>
   </div> 
   <div class="text-center col-xs-12 hidden-lg hidden-md hidden-sm ">
     <div class="row ">
        <div class=" col-md-3 col-xs-6 text-center   "><label>Company</label></div>
        <div class=" col-md-3 col-xs-6 text-center "><label>Creators</label></div>
        <div class=" col-md-3 col-xs-6 text-center "><label>Listeners</label></div>
        <div class=" col-md-3 col-xs-6 text-center "><label>Contact</label></div>
      </div>
      <div class="row ">   
        <div class="col-md-3 col-xs-6 text-center "><label>Support</label></div>
        <div class="col-md-3 col-xs-6  text-center"><label>Privacy Policy</label></div>
        <div class="col-md-3 col-xs-6  text-center "><label>Terms of Use</label></div>
      </div>
    </div>
   <div class="col-lg-4 col-md-4 col-sm-3 text-center  col-md-offset-0 col-sm-offset-0 col-xs-12 mtop footer-links">
    <div class="soci-item"><a target="blank" href="https://www.facebook.com/hearbkapp/"><i class="fa fa-facebook-f"></i></a></div>
    <div class="soci-item"><a target="blank" href="https://www.instagram.com/hearbkapp/"><i class="fa fa-instagram"></i></a></div>
    <div class="soci-item"><a target="blank" href="https://twitter.com/hearbkapp"><i class="fa fa-twitter"></i></a></div>
    <div class="soci-item"><a target="blank" href="https://www.linkedin.com/company/hearbk/"><i class="fa fa-linkedin"></i></a></div>

   </div>
</div>
 <div class="row p1">
      <div class="col-lg-3 col-md-4 col-sm-5 col-lg-offset-1 col-md-offset-1 col-xs-12 text-center text-muted">© 2018 HEARBK Inc. All Rights Reserved.</div>
      <div class="col-lg-3 col-md-3 col-sm-5 col-lg-offset-4 col-md-offset-3 col-sm-offset-2 text-center hidden-xs">
         <div class="row text-center">
            <div class="col-lg-6 col-md-6 col-sm-6 text-center"><label>Privacy Policy</label></div>
            <div class="col-lg-6 col-md-6 col-sm-6 text-left "><label>Terms of Use</label></div>
         </div>
      </div>
   </div>
</div>





