.bgimage2{
	background-image:  url("/assets/background2.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
}
.reference-link{
	text-decoration: none !important;
	/*background: red;*/
	color: white;
}
.reference-link:hover,
.reference-link-signup:hover{
	background: transparent !important;
}
a{
	text-decoration: none !important;
}
.marginTop30{
	margin-top: 31px!important;
}
.font22{
	font-size: 22px
}
.alert-danger {		
	position: relative;	
		background: white;	
			margin-top: 10px;
					margin-bottom: 19px;
							border-radius: .4em;	
								padding: 8px;	
									margin-left: 13px;  
									      margin-right: 5px;
									      	}	
.alert-danger:after {		
	content: '';		
	position: absolute;		
	top: 2px;	
		left: 14%;	
			width: 0;	
				height: 0;	
					border: 11px solid transparent;	
						border-bottom-color: #f9f9f9;	
							border-top: 0;		
							border-left: 0;		
							margin-left: -13.5px;	
								margin-top: -12px;    }
.errorLabel{ color: white;}		
.reference-link-signup{
  border:none; 
  position: absolute; 
  left: 93%;
  top:56px;
  color: white;
}						
@media only screen and (min-width : 320px) and (max-width : 768px) {
	.reference-link-signup{
	  left: 83%;
	  top:20px;
	}	
	.social-link{
		background: red;
	}
	.contributor{
		margin-top: 74px;
	}
	.font22{
		font-size: 14px !important;
	}
	.email{
		height: 30px;
	}
}

