<div class="container-fluid mid-content text-center">
    <div class="container p-t-50 p-b-50">
      <div class="content-sec clearfix">
        <h1 class="page-title">Superfans</h1>
        <p class="desc">application questions</p>
        <div class="form-sec">
          <span class="question">1. i know i'm obsessed with music because I</span>
          <form>
            <div class="form-group">
              <textarea placeholder="Continue"></textarea>
            </div>
          </form>
        </div>
        <div class="bottom-control">
          <button class="btn gray m-r-20" mdbBtn type="button" gradient="gray" size="lg" mdbWavesEffect>Skip</button>
          <button class="btn next" mdbBtn type="button" gradient="aqua" size="lg" mdbWavesEffect>Next</button>
        </div>
      </div>
    </div>
  </div>
  