<div class="container-fluid mid-content text-center">
  <div class="container p-t-50 p-b-50">
    <div class="content-sec clearfix">
      <h1 class="page-title">Radio Pros</h1>
      <p class="desc">application questions</p>
<div class="form-sec">
  <form>
    <div class="form-group">
        <span class="question">1. Which radio station do you work for?</span>
     <input placeholder="Enter the name" type="text">
      <span class="question m-t-10">2. What is your title?</span>
      <input placeholder="Enter the name" type="text">
      <span class="question m-t-10">3. What is the Radio station website?</span>
     <input placeholder="Enter the address" type="text">
     <span class="question m-t-10">4. What type of radio station is it?</span>
     <select>
       <option>Select Option</option>
       <option>Option</option>
     </select>
    </div>
  </form>
</div>
<div class="bottom-control">
    <button class="btn gray m-r-20" mdbBtn type="button" gradient="gray" size="lg" mdbWavesEffect>Skip</button>
    <button class="btn next" mdbBtn type="button" gradient="aqua" size="lg" mdbWavesEffect>Next</button>
  </div>
    </div>
    </div>
    </div>